/*
Site-wide styles for douglatornell.ca
*/
body {
    width: 800px;
}
a:link, a:visited {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}

h1, h1.title {
    text-align: left;
    font-family: sans-serif;
    font-size: 1.5em;
}

div.footer {
    font-family: sans-serif;
}
